[submodule "submodule_cnn_transformer_accelerator"]
	path = submodule_cnn_transformer_accelerator
	url = https://gitee.com/gitee_dy/cnn_transformer_accelerator.git
[submodule "submodule_ibex"]
	path = submodule_ibex
	url = https://gitee.com/gitee_dy/soc.git
[submodule "verilog-uart"]
	path = basic/vip/uart/verilog-uart
	url = https://github.com/jamieiles/verilog-uart.git
