[submodule "submodule_cnn_transformer_accelerator"]
	path = submodule_cnn_transformer_accelerator
	url = git@gitee.com:gitee_dy/cnn_transformer_accelerator.git
[submodule "submodule_ibex"]
	path = submodule_ibex
	url = git@gitee.com:gitee_dy/soc.git
